  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/homeClinicR">CLINIC 24/365</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/homeClinicR">Home</a></li>
<!--          <li><a href="/">Consultation Details</a></li>-->
          <li><a href="/doctorSchedule">Schedule</a></li>
          <li><a href="/Clinic_RetrieveShoppingItems">E-Pharmacy</a></li>
<!--          <li class="drop-down"><a href="/consultationFormInfo">Consultation Forms</a>-->
<!--            <ul>-->
<!--              <li><a href="/createPrescription">Prescription</a></li>-->
<!--              <li><a href="/createReferral">Referral</a></li>-->
<!--              <li><a href="/">Medical Certificate</a></li>-->
<!--            </ul>-->
<!--          </li>-->
          <li><a href="/searchPtVisits">Patient Details</a></li>
          <li><a href="/addVisit">Add Patient Visit</a></li>
          <li class="drop-down"><a href="/clinicInfo">Clinic Information</a>
            <ul>
              <li><a href="/retrieveOperatingHour">Operating Hours</a></li>
              <li><a href="/retrieveOffDay">Off Days</a></li>
              <li><a href="/updateClinicID">Clinic ID</a></li>
              <li><a href="/updateClinicPassword">Password</a></li>
              <li><a href="/updateClinicOthers">Others</a></li>
            </ul>
          </li>
<!--          <li><a href="/">Contact</a></li>-->

        </ul>
      </nav><!-- .nav-menu -->
      <a href="/homeClinicD" class="appointment-btn scrollto">Doctor</a>
      <a href="/loginClinic" class="appointment-btn scrollto">Log Out</a>

    </div>
  </header><!-- End Header -->
