  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/homePublic">CLINIC 24/365</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="item active"><a href="/">Home</a></li>
          <li><a class="item" href="/loginPublic">P-Login</a></li>
          <li><a class="item" href="/loginClinic">C-Login</a></li>
          <li><a class="item" href="/createPublic">P-Register</a></li>
          <li><a class="item" href="/createClinic">C-Register</a></li>
          <li><a class="item" href="/">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

<!--      <a href="/homeClinic" class="appointment-btn scrollto">Login</a>-->

    </div>
  </header><!-- End Header -->
