  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/homePublic">CLINIC 24/365</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block" id="navbar">
        <ul>
          <li class="item active"><a href="/homePublic">Home</a></li>
          <li><a class="item" href="/createConsultation">Online Consultation</a></li>
          <li><a class="item" href="/Retrieve_Appointment">Appointment</a></li>
          <li><a class="item" href="/searchClinicOH">Search Clinic</a></li>
          <li><a class="item" href="/retrieveMedCert">Consultation History</a></li>
          <li><a class="item" href="/PatientShopping">E-Pharmacy</a></li>
          <li class="drop-down item"><a href="/publicInfo">Personal Information</a>
            <ul>
              <li><a href="/updatePublicDetails">Personal Details</a></li>
              <li><a href="/retrieveMCA">Medical Conditions & Allergies</a></li>
              <li><a href="/updatePublicPassword">Password</a></li>
              <li><a href="/deletePublic">Delete</a></li>
            </ul>
          </li>
<!--          <li><a href="/">Contact</a></li>-->

        </ul>
      </nav><!-- .nav-menu -->

      <a href="/loginPublic" class="appointment-btn scrollto">Log Out</a>

    </div>
  </header><!-- End Header -->
